# Mac OS X files
.DS_STORE

# Dependency directories
**/node_modules/

# JetBrains Metadata
.idea/

# Build folder
**/build/**

# Env
.env

# Coverage folder
app/.nyc_output

# New Relic
app/newrelic_agent.log
